p,
h2,
h3,
h4,
h5,
h6 a,
button {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
}
.no-scroll {
  overflow: hidden;
}
/* NavBar */

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 110px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.wrapper .logo a {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
}
.nav-link {
  color: #4b5563;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #3ea4db;
  transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 70%;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background-color: transparent;
  margin-top: 30px;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.navbar {
  background-color: #333;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #4b5563;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20%;
  height: 2px;
  width: 0;
  background-color: #3ea4db;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 80%;
  bottom: 20%;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.mega-box .content {
  /* background: #f2f2f2; */
  margin-top: 30px;
  padding: 40px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.mega-box .content .row {
  width: calc(50% - 30px);
  line-height: 45px;
}

.content .row header {
  color: #f1f1f1;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links {
  /* margin-left: -40px; */
  border-left: 2px solid rgba(252, 250, 250, 0.09);
  height: 80%;
}
.content .row .expect {
  border-left: none !important;
}

.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a,
.mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #fff;
  font-size: 15px;
  display: block;
  font-weight: 400;
}
.row .mega-links li a:hover {
  color: #737987;
}
.wrapper .btn {
  color: #1e40af;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}
.left-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 75%;
    max-width: 350px;
    background: linear-gradient(to right, #1a0a44, #60a5fa);
    top: 0;
    left: -100%;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
    z-index: 9999;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 165px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
    display: none;
  }

  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
    display: block;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 15px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 !important;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 0;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 17px;
    margin-left: 20px;
  }
  .nav-link {
    color: #fff;
  }

  /* left links */
  .left-links {
    display: none !important;
  }
  .left-icon {
    display: block;
  }
  .left-icon .signin {
    background-color: transparent;
    border: #fff 3px solid;
    padding: 20px 90px;
    width: 100%;
    font-size: 16px;
  }
  .nav-link:hover::after,
  .nav-link.active::after {
    width: 0%;
    bottom: 20%;
  }
}
nav input {
  display: none;
}

.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/* header */
.customBg {
  background-image: url(../asstes/imgs/hero@75.b2469a49.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* header */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* itss numbers */
.counter-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  position: relative;
}
.counter-wrapper::before {
  position: absolute;
  content: "";
  content: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.counter {
  text-align: center;
  color: #737987;
  z-index: 2;
  position: relative;
}
.counter::before {
  position: absolute;
  content: "";
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: 0.2rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.counter .count {
  margin-bottom: 1rem;
  font-size: larger;
}
.counter p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  .counter-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .counter-wrapper {
    grid-template-columns: 1fr;
  }
}
/* our services */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  width: 320px;
  padding: 100px 40px 60px;
}
.container .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.5s;
}
.container .box:hover:before {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}
.container .box h2 {
  position: absolute;
  left: 40px;
  top: 60px;
  font-size: 4em;
  font-weight: 800;
  z-index: 1;
  opacity: 0.1;
  transition: 0.5s;
  font-family: "SUSE", sans-serif;
  font-weight: bold;
}
.container .box:hover h2 {
  opacity: 1;
  color: #fff;
  transform: translateY(-40px);
  font-family: "SUSE", sans-serif;
  font-weight: bold;
}
.container .box h3 {
  position: relative;
  z-index: 2;
  color: #fff;
  transition: 0.5s;
  font-size: 2.5em;
  font-family: "SUSE", sans-serif;
  font-weight: bold;
  line-height: 1;
}
.container .box p {
  position: relative;
  z-index: 2;
  color: #f2f2f2;
  transition: 0.5s;
}
.container .box:hover h2,
.container .box:hover p {
  color: #fff;
}

/* tabs of servies */
.tabs {
  width: 85%;
  margin: auto;
  padding: 20px 30px;
  overflow: hidden;
}

.tabs .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.tabs .tab-header > div {
  width: calc(100% / 4);
  text-align: center;
  color: #888;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

.tabs .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}

.tabs .tab-header > div.active {
  color: #00acee;
}

.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 4);
  height: 5px;
  background: #00acee;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  z-index: -1;
}

.tabs .tab-body {
  padding: 10px 5px;
  overflow: hidden;
}

.tabs .tab-body > div {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.tabs .tab-body > div.active {
  opacity: 1;
  transform: scale(1);
  position: relative; /* Update this */
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
/* success stories */
.video {
  width: 80%;
  margin: auto;
  height: 30rem;
  position: relative;
}
.video iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00acee;
  color: #fff;
  font-size: 50px;
  width: 100px;
  height: 100px;
  z-index: 2;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.play-btn:before {
  content: "";
  position: absolute;
  border: 15px solid #fff;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  animation: bloom1 1.5s linear infinite;
  opacity: 0;
  z-index: 1;
}
.play-btn:after {
  content: "";
  position: absolute;
  border: 15px solid #fff;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  animation: bloom2 1.5s linear infinite;
  opacity: 0;
  animation-delay: 0.4s;
  z-index: 1;
}
@keyframes bloom1 {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes bloom2 {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

@media (min-width: 480px) {
  .container {
    max-width: 9999px !important;
  }
}
